
html {
  background-color: #006699;
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  height: 100%; 
}

a {
  text-decoration: none;
  color: darkblue;
}

#wrap {
  width: 80%;
  min-height: 100%;
  margin: 0px auto;
  background-color: #F2F2F2;
}

#header {
  padding-top: 10px;
}

#header img {
  margin-top: -10px;
  margin-right: 20px;
}

#content {
  border-top: 1px solid silver;
  padding: 10px 50px;
}

#menu {
  padding: 0px;
  margin: 10px 0px;
}

#menu li {
  display: inline;
  margin-right: 10px;
}

