
html {
  background-color: #263649;
  bbackground-color: #005580;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%; 
}

a {
  text-decoration: none;
  color: #00008B;
  font-weight: bold;
}
a:hover {
  color: #e03b00;
  text-decoration: underline;
}

.hidden {
  display: none !important;
}

.clear {
  clear: both;
}

.fullscreen {
  width: 100% !important;
  height: 100% !important;
}


#wrap {
  width: 80%;
  min-height: 100%;
  margin: 0 auto;
  background-color: #F2F2F2;
}

.mobile {
  width: 100% !important;
}

#header {
  float: left;
  width: 100%;
  background-color: #EEEFEF;
}

#header div.avatar {
  width: 15%;
  float: left;
  box-sizing: border-box;
  margin: 0 0.05em 0 0;
}

#header img.avatar {
  max-width: 100%;
}

#header div.text {
  width: 85%;
  margin-left: 15%;
  padding: 0.2em 1em 0em 1em;
  box-sizing: border-box;
}

#header.header0 {
  font-size: 1.5em;
}

#header img.ad {
  max-width: 20%;
  float: right;
}

#content img {
  max-width: 100%;
}

img.resume-logo {
  float: right;
  width: 120px;
  clear: right;
  margin: 0px 0px 30px 50px;
}

div.resume {
}

div.resume h1 {
  text-align: center;
}

div.resume h3 {
  margin-top: 30px;
}

span.bio {
  color: #082d3f;
  font-weight: bold;
}
span.note {
  color: silver;
  font-size: 60%;
}
span.email {
  font-weight: bold;
}
span.links a {
  padding: 0 0.5em 0 0;
}

div.text div.break {
  height: 0.35em;
}

#content {
  border-top: 1px solid silver;
  padding: 0em 4em 0.05em 4em;
}

.padding0 {
  padding: 0em 2em 0.05em 2em !important;
}

div#main-menu {
  margin: 1em 0 1em 0;
  text-align: center;
}

div#main-menu a {
  display: inline-block;
  padding: .1em .5em;
  font-size: 110%;
  color: #646a84;
  border: 1px solid silver;
  margin: 0.1em 1em 0em 0;
}

div.menu0 a {
  margin: 0.1em 0 0.25em 0 !important;
  font-size: 2em !important;
}

div#main-menu a.active {
  background-color: #556193;
  color: #bac5f4;
}

div#main-menu a:hover {
  background-color: #556193;
  color: #bac5f4;
  text-decoration: none;
}

#contents > ul {
  list-style: none;
  padding: 0px;
}

#contents > ul > li {
  margin-bottom: 2em;
}

#contents > ul > li > p > a > strong {
  font-size: 120%;
}

#contents > ul > li > p:first-child {
  font-weight: bold;
  border-bottom: 1px solid silver;
  font-size: 110%;
}

#content > h2 {
  color: darkred;
}

#disqus_thread {
  margin: 0 auto;
  margin-top: 2em;
}

#disqus_comments {
  margin-top: 3em;
  text-align: center;
  font-weight: bold;
  font-size: 120%;
}

#content blockquote {
  padding: .5em 1em;
  width: 80%;
  margin: 0px auto;
  color: #4D3300;
  background-color: #F9F2EC;
  border: 1px dashed silver;
}

#content blockquote > p {
  padding: 0;
  margin: .5em 0;
}

table {
  margin: 0px auto;
  border-collapse: collapse;
}

td, th {
  border: 1px solid silver;
}

table.atomic td, table.atomic th {
  margin: 0px;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}

th {
  background-color: #ecf2f9;
}

td { 
  color: #005000;
}

table.atomic td:first-line {
  text-decoration: underline;
  color: #500000;
}

td.red {
  background-color: #FFF0F0;
}

td.green {
  background-color: #F0FFF0;
}

div.shader {
  width: 60%;
  border: 0px solid black;
  margin: 1em auto;
  padding: 0;
}

div.shader div.canvas {
  clear: both;
  margin: 0;
  padding: 0;
  position: relative;
}

div.shader canvas {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: block;
  border: 0px solid #79a9ad;
  box-sizing: border-box;
  outline: none;
  cursor: default;
}


div.shader textarea {
  display: block;
  width: 100%;
  height: 100%;
  border: 0px solid #79a9ad;
  outline: none;
  margin: 0px;
  padding: 0.1em 0.5em;
  box-sizing: border-box;
  background-color: #fcfdff;
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
  font-weight: bold;
}

.mobile div.shader textarea {
  font-size: 2em;
}

div.shader div.help {
  width: 100%;
  height: 100%;
  float: left;
  clear: both;
  box-sizing: border-box;
  background-color: #fcfdff;
  overflow-y: scroll;
}

.mobile div.shader div.help {
  font-size: 1em;
}

div.shader div.buttons {
  white-space: nowrap;
  width: 100%;
}


div.shader button, div.shader input {
  display: block;
  float: left;
  border: 1px solid #AAAAAA;
  padding: 0.1em 0.3em;
  margin: 0px;
  outline: none;
  min-width: 3em;
  cursor: pointer;
  background-color: #CCCCCC;
  font-size: 80%;
  text-align: center;
}

.mobile div.shader button, .mobile div.shader input {
  font-size: 1.5em;
}

div.shader input {
  cursor: auto;
  min-width: auto;
  background-color: #CCCCEE;
}

div.shader button.active {
  background-color: #e5b7b7;
}

div.shader button:hover {
  background-color: #ccdefc;
}

div.shader button.active:hover {
  background-color: #e5b7b7;
}

div.shader ul.menu, div.shader ul.close {
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-align: left;
}

div.shader ul.close {
  float: right;
}

div.shader ul.menu li, div.shader ul.close li {
  display: inline-block;
  float: left;
  padding: 0.1em 0.3em;
  min-width: 2em;
  margin: 0px;
  border: 1px solid #79a9ad;
  border-bottom: none;
  background-color: #275e63;
  color: white;
  text-align: center;
}

.mobile div.shader ul.menu li, .mobile div.shader ul.close li {
  font-size: 1.5em;
}

div.shader ul.menu li:hover, div.shader ul.close li:hover {
  background-color: #38777c;
  cursor: pointer;
}

div.shader div.help ul li {
  margin: 0.5em 0;
}

div.webgl {
  text-align: center;
  position: relative;
  margin: 2em auto;
  padding: 0px;
  width: 20%;
}

.mobile div.webgl {
  width: 30%;
}

div.webgl span {
  float: left;
  width: 100%;
  display: block;
  font-weight: bold;
  font-size: 0.75em;
  color: darkred;
  cursor: pointer;
}

.mobile div.webgl span {
  font-size: 2em;
}

div.webgl span.nowebgl {
  color: #888888;
}

div.webgl img.link {
  width: 100%;
  cursor: pointer;
  border: 2px solid silver;
  box-sizing: border-box;
}

div.webgl img.logo  {
  position: absolute;
  left: 0px;
  top: 0px;
  cursor: pointer;
}


div.webgl img.link:hover {
  cursor: pointer;
  border: 2px solid darkred;
}


div.code {
  overflow: auto;
}

.mobile div.code {
  font-size: 2em;
  overflow: auto;
}



